
  <div class="profile-card" >
    <img alt="" src="assets/icons/login-user.svg">
    <div class="header" *ngIf="isOpen">
<!--      <h2>Welcome {{username | titlecase}}</h2>-->
    </div>
    <br/>
  </div>
  <mat-divider></mat-divider>
  <mat-nav-list *ngFor="let item of menu">

    <a class="no-child-list" mat-list-item [routerLink]="[item.path]" *ngIf="item.children.length == 0"
       routerLinkActive="list-item-active" [routerLinkActiveOptions]="{exact: true}" (click)="drawer?.toggle(false)">
        <img src="{{item.icon}}" alt="">
        <span *ngIf="isOpen">{{item.name}}</span>
    </a>
<!--    <mat-expansion-panel [class.mat-elevation-z0]="true" *ngIf="item.children.length > 0">-->
<!--      <mat-expansion-panel-header>-->
<!--          <img src="{{item.icon}}" alt="">-->
<!--          <span *ngIf="isOpen">{{item.name}}</span>-->
<!--      </mat-expansion-panel-header>-->
<!--      <mat-nav-list>-->
<!--        <a mat-list-item *ngFor="let child of item.children" [routerLink]="child.path" routerLinkActive="list-item-active"-->
<!--           [routerLinkActiveOptions]="{exact:true}">-->
<!--            <img src="{{child.icon}}" alt="">-->
<!--            <span *ngIf="isOpen">{{child.name}}</span>-->
<!--        </a>-->
<!--      </mat-nav-list>-->
<!--    </mat-expansion-panel>-->
  </mat-nav-list>

