<mat-card class="table-responsive table" [formGroup]="ticketForm">
  <div [formGroup]="ticketSearchForm">
    <div class="row-inputs" fxLayout="row wrap">
      <mat-form-field matTooltip="Coming Soon" appearance="outline" fxFlex>
        <mat-label>From date</mat-label>
        <input (dateChange)="show($event)" matInput [max]="ticketSearchForm.controls['to_date'].value"
               [ngxMatDatetimePicker]="to_selected_date1" placeholder="From date"
               formControlName="from_date">
        <mat-hint>dd/mm/yyyy hh:mm</mat-hint>
        <mat-datepicker-toggle matSuffix [for]="$any(to_selected_date1)"></mat-datepicker-toggle>
        <ngx-mat-datetime-picker #to_selected_date1 [color]="color" [disableMinute]="false" [enableMeridian]="true"
                                 [hideTime]="false"
                                 [showSeconds]="false" [showSpinners]="true" [stepHour]="stepHour"
                                 [stepMinute]="stepMinute" [stepSecond]="stepSecond" [touchUi]="false">
        </ngx-mat-datetime-picker>
      </mat-form-field>

      <mat-form-field appearance="outline" fxFlex matTooltip="Coming Soon">
        <mat-label>To date</mat-label>
        <input (dateChange)="show($event)" matInput [min]="ticketSearchForm.controls['from_date'].value"
               [ngxMatDatetimePicker]="to_selected_date2" placeholder="To date"
               formControlName="to_date">
        <mat-hint>dd/mm/yyyy hh:mm</mat-hint>
        <mat-datepicker-toggle matSuffix [for]="$any(to_selected_date2)"></mat-datepicker-toggle>
        <ngx-mat-datetime-picker #to_selected_date2 [color]="color" [disableMinute]="false" [enableMeridian]="true"
                                 [hideTime]="false"
                                 [showSeconds]="false" [showSpinners]="true" [stepHour]="stepHour"
                                 [stepMinute]="stepMinute" [stepSecond]="stepSecond" [touchUi]="false">
        </ngx-mat-datetime-picker>
      </mat-form-field>
      <mat-form-field appearance="outline" fxFlex>
        <mat-label>Inbound</mat-label>
        <input matInput type="text" formControlName="inbound">
        <!--      <mat-error>{{error}}</mat-error>-->
      </mat-form-field>
      <div class="search-button" fxFlex>
        <button mat-raised-button  color="accent" type="button" (click)="searchTicket()">Search <mat-icon>search</mat-icon> </button>
        <button mat-button  mat-stroked-button  color="accent" type="button" (click)="ngOnInit()">Clear<mat-icon>clear</mat-icon></button>
      </div>

    </div>


  </div>
  <br>
  <br>
  <div class="header-title">Ticket List</div>
  <div formArrayName="ticket">

    <div class="body-table" *ngFor="let data of this.ticketsAsFormArray.value;  let i = index"
         [formGroupName]="i">
      <!--      <div [formArrayName]="i">-->
      <div class="table-header margin-left" *ngIf="i == 0">
        <span class="column-details-left">Id</span>
        <span class="column-details-left">Inbound</span>
        <span class="column-details-left">Outbound</span>
        <span class="column-details-left">Ticket Type</span>
        <span class="column-details-left">Ticket Type id</span>
        <span class="column-details-left">Price</span>
        <span class="column-details-left">From date</span>
        <span class="column-details-left">To date</span>
        <span class="column-details-left">Seat number</span>
        <span class="column-details-left">Details</span>
      </div>
      <div class="table-header margin-left" *ngIf="i != 0 && width <=700">
        <span class="column-details-left">Id</span>
        <span class="column-details-left">Inbound</span>
        <span class="column-details-left">Outbound</span>
        <span class="column-details-left">Ticket Type</span>
        <span class="column-details-left">Ticket Type id</span>
        <span class="column-details-left">Price</span>
        <span class="column-details-left">From date</span>
        <span class="column-details-left">To date</span>
        <span class="column-details-left">Seat number</span>
        <span class="column-details-left">Details</span>
      </div>
      <div class="table-body margin-left">
        <span class="column-details-right" title="{{data.id}}">{{data.id}}</span>
        <span class="column-details-right" title="{{data.inbound}}">{{data.inbound}}</span>
        <span class="column-details-right" title="{{data.outbound}}">{{data.outbound}}</span>
        <span class="column-details-right" title="{{data.ticket_type}}">{{data.ticket_type}}</span>
        <span class="column-details-right" title="{{data.ticket_type_id}}">{{data.ticket_type_id}}</span>
        <span class="column-details-right" title="{{data.price}}">{{data.price}}</span>
        <span class="column-details-right"
              title="{{data.from_date}}">{{data.from_date | dateFormat :'dd/MM/YYYY'}}
          <br><span>{{data.from_date | dateFormat :'hh:mm:ss'}}</span></span>
        <span class="column-details-right" title="{{data.to_date}}">{{data.to_date | dateFormat :'dd/MM/YYYY'}}
          <br><span>{{data.to_date | dateFormat :'hh:mm:ss'}}</span></span>
        <span class="column-details-right" title="{{data.seat_number}}">{{data.seat_number}}</span>
        <span class="column-details-right edit-button">
          <button mat-button (click)="goToEdit(data.id)"><mat-icon>info</mat-icon></button></span>
      </div>
      <!--      </div>-->
      <!--      <ng-container>-->
      <!--        <div *ngIf='!i' id="resp-table-header">-->
      <!--          <div  class="table-header-cell">-->
      <!--            &lt;!&ndash;          {{data}}{{da}}&ndash;&gt;-->
      <!--            &lt;!&ndash;          {{data.inbound}}&ndash;&gt;-->
      <!--            &lt;!&ndash;          {{data.from_date | dateFormat}}&ndash;&gt;-->
      <!--          </div>-->
      <!--        </div>-->
      <!--        <div id="resp-table-body">-->
      <!--          <div  *ngif="i" class="resp-table-row">-->
      <!--            <div class="table-body-cell">-->
      <!--            </div>-->

      <!--          </div>-->
      <!--        </div>-->
      <!--      </ng-container>-->

    </div>

  </div>
</mat-card>
