<mat-toolbar>
  <mat-toolbar-row class="navigation-header">
    <div class="header-start">
      <div>
        <button mat-button  (click)="drawer.toggle()"><mat-icon>menu</mat-icon></button>
      </div>
      <div>
        <img alt="" [src]="lufthansa_image">
      </div>
    </div>
    <div>
      <button mat-button [matMenuTriggerFor]="menu">
        <mat-icon>person_outline</mat-icon>
      </button>

      <mat-menu #menu="matMenu">
        <button style="color: black" mat-menu-item (click)="logout()">
          <mat-icon>exit_to_app</mat-icon>
          <span>Sign out</span>
        </button>
      </mat-menu>

    </div>
  </mat-toolbar-row>
</mat-toolbar>
