
.navigation-header{
  display: flex;
  justify-content: space-between;
  padding-inline-start: 0;
}
.header-start{
  width: 14%;
  display: flex;
  justify-content: space-between;
}

.navigation-header img {
  width: 130px;
  margin-top: 7px;
}

mat-toolbar{
  background-color: #192D57;
}

button{
  color: white;
}
