<div class="login">
  <form [formGroup]="signUpForm" (ngSubmit)="signUp()">
    <mat-card>
      <div class="company-name-login">
        <h1>Sign up</h1>
      </div>
      <div class="login-body">
        <div class="login-forms">
          <div class="input-icon">
            <img  alt="user icon" src="assets/icons/login-user.svg">
            <mat-form-field class="input-form">
              <input matInput type="text" placeholder="Email" formControlName="email">
            </mat-form-field>
          </div>

          <div class="input-icon">
            <img alt="password icon" src="assets/icons/password-icon.svg">

            <mat-form-field class="input-form">
              <input matInput type="password" placeholder="Password" formControlName="password">
            </mat-form-field>
          </div>

        </div>
        <div class="login-button">
          <button mat-button type="submit">Sign Up</button>
        </div>
      </div>
      <div class="redirectToLogin">
        <a routerLink="/auth/login"> Go to Login</a>
      </div>
    </mat-card>
  </form>
  <div>
    <h3 class="company-link"><a href="https://www.lufthansa.com/al/en/homepage" target="_blank"><img alt="" [src]=lufthansa_image></a></h3>
  </div>

</div>
